html {
  display: flex;
  height: 100%;
}

canvas {
  /*width: 600px;*/
}

/*body {
  align-items: stretch;
  background: #000;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0;
}*/
